<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
    </title>
    <meta name="description" content="Description" />
    <meta name="keywords" content="Keywords" />
    <link rel="stylesheet" href="/bundles/yithelp/css/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/bundles/yithelp/javascript/jquery.js"></script>
    <script type="text/javascript" src="/bundles/yithelp/javascript/script.js"></script>
    <script type="text/javascript" src="/bundles/yithelp/javascript/slimbox2.js"></script>
    <link rel="stylesheet" href="/bundles/yithelp/css/slimbox2.css" type="text/css" media="screen" />
</head>
<body>
    {% block title %}
    {% endblock title %}

    {% block main %}{% endblock main %}

    {% block category  %}{% endblock category  %}

</body>
</html>