<!DOCTYPE html>
{% block html%}<html lang="en">{% endblock %}
<head>
    <meta charset="UTF-8" http-equiv="content-type" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block stylesheets %}{% endblock %}
    <title>Help</title>
</head>
<body>
    {% block yitHelp %}{% endblock %}
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
        {% if app.debug %}
            <script src="{{ asset('bundles/yithelp/js/basePath/app_devPath.js') }}"></script>
        {% else %}
            <script src="{{ asset('bundles/yithelp/js/basePath/appPath.js') }}"></script>
        {% endif %}
    {% endblock %}
</body>
</html>