@import "functions";

#yit-help{
  .yit-help-color{
    color: #0c4948 !important;
  }
  h1{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .panel-group{
    padding: 10px 0;
    border-top: 1px solid #53abaa;
    border-bottom: 1px solid #53abaa;

    .panel{
      border-radius: 0 ;
    }

    a{
      display: block;
      font-weight: 500;
      padding: 4px 20px;
      color: #888888;
      .rounded-corners(0);
      &:hover{
        padding: 4px 19px;
        .rounded-corners(0);
        border-left:1px solid #0c4948;
        color:#0c4948;
        text-decoration: none;
      }
    }
    .help-category{
      padding: 4px 19px;
      .rounded-corners(0);
      border-left:1px solid #0c4948;
      color:#0c4948;
    }

    .panel-collapse{
      span{
        display: block;
        padding:4px 30px;
        font-size: 14px;
        border: 0;
        font-weight: 500;
        color: #888888;
        width: 100%;
        &:hover{
          cursor: pointer;
          color:#0c4948;
        }
      }
    }

    .panel{
      box-shadow: none;
      border: 0;
      background: none;
    }
    .panel+.panel{
      margin-top: 0;
    }
  }
}